@model IEnumerable<DbFirstExample.Models.Emptb1>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(p=>p.EmpId)</th>
            <th>@Html.DisplayNameFor(p=>p.EmpName)</th>
            <th>@Html.DisplayNameFor(p=>p.Address)</th>
            <th>@Html.DisplayNameFor(p=>p.EmailId)</th>
            <th>@Html.DisplayNameFor(p=>p.MobileNo)</th>
            <th>@Html.DisplayNameFor(p=>p.DeptName)</th>
            <th>@Html.DisplayNameFor(p=>p.Salary)</th>
        </tr>

          @foreach (var temp in Model)
          {
             <tr>
                 <td>@temp.EmpId</td>
                 <td>@temp.EmpName</td>
                 <td>@temp.Address</td>
                 <td>@temp.EmailId</td>
                 <td>@temp.MobileNo</td>
                 <td>@temp.DeptName</td>
                 <td>@temp.Salary</td>
             </tr>   
          }
    </table>
</body>
</html>
