@model IEnumerable<JoinExampleDbFirst.Models.EADVM>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(p => p.EmpId)</th>
            <th>@Html.DisplayNameFor(p => p.EmpName)</th>
            <th>@Html.DisplayNameFor(p => p.Mob)</th>
            <th>@Html.DisplayNameFor(p=>p.DeptName)</th>
            <th>@Html.DisplayNameFor(p=>p.AreaName)</th>
        </tr>
        <tbody>
            @foreach(var temp in Model)
            {
                <tr>
                    <td>@temp.EmpId</td>
                    <td>@temp.EmpName</td>
                    <td>@temp.Mob</td>
                    <td>@temp.DeptName</td>
                    <td>@temp.AreaName</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
